.search {
    margin-left: 50%;
}

.findDeals {
    font-size: 20px;
    width: 100px;
    height: 100px;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin: 0px auto;
    cursor: pointer;
    font-weight: 500;
    color: aliceblue;
    outline: none;
}

.heroText {
    text-align: center;
    border: 2px solid yellow;
    background-color: indianred;
    border-radius: 10px;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding: 10px;
}

.displayResults li {
    width: 30%;
    vertical-align: top;
    padding: 1rem 1rem 1rem 1rem;
    display: inline-block;
}

.results {
    display: inline-block;
}

ul {
    list-style-type: none;
}

li {
    border: 3px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
}

.title {
    font-size: 22px;
    text-align: center;
}
